# Ignore R specifics
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.swp

# Ignore CSVs
!data_table.csvv 
data/raw_data*
data/updated_data*

# Ignore compressed files 
*.zip

# Ignore unknown file 
.DS_Store
 
# Ignore slurm files 
*.out
*.log
