# Ignore R specifics
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.swp

# Ignore CSVs
!data_table.csv
data/raw_data/*.csv 

# Ignore compressed files 
*.zip

# Ignore unknown file 
.DS_Store
 
# Ignore Group1 direcotry 
